body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #424242;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.navbar {
    border-bottom: 8px solid #7DA453;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
    background-color: white;
}

.navbar-container > div > a:hover {
    background-color: #FFA270;
}

.navbar-container a > img {
    margin-top: 10px;
    display: block;
    max-width: 100px;
    max-height: 55px;
    width: auto;
    height: auto;
}

.navbar-btn {
    width:10%;
    height:10%;
    display: none;
}

.landing {
    font-size: 50px;
    color: black;
    text-align: center;
}

.landing-text {
    color: black;
    font-weight: bold;
    margin-top: 180px;
}

.landing-button {
    margin-top: 80px;
    font-size: 40px;
}

.navbar-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    width: 100%;
    color: #B2FAB4;
    font-size: 50px;
    margin-top: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-flex {
    background-color: #0B222C;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    margin-top: 60px;
    text-align: center;
    line-height: 100px;
}

.event-container {
    margin-top: 30px;
    width: 50%;
}

.event-flex {
    background-color: #707070;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.program-title {
    color: #B2FAB4;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.content-text {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.content-flex {
    display: flex;
    flex-direction: row;
}

.content-text img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.inline {
    padding-bottom: -10px;
}

.crop {
    width: 300px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.crop img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.content {
    text-align: left;
    padding-left: 20px;
}

.button {
    background-color: #FFA270;
    border: none;
    padding: 15px;
    width: 330px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.button:hover {
    background-color: #FF7043;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.landing {
    margin-top: -186px;
    background-image: url("https://i.imgur.com/FOU1PUq.jpg");
    background-size: cover;
    background-position: center bottom;
    max-height: 90vh;
    width: 100%;
    height: 100%;
    position: absolute;
}

.layer {
    background-color: rgba(122, 122, 122, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.z {
    height: 100%;
}

.main-form {
    margin: 50px;
    line-height: 50px;
    padding: 20px 10px;
    text-align: center;
}

.main-label {
    font-size: 20px;
    color: #B2FAB4;
    margin: 10px;
}

.main-input {
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    background: transparent;
    width: 95%;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #81C784;
}

.footer {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    color: black;
    padding-bottom: 30px;
    border-bottom: 8px solid #FF7043;
    margin-top: 30px;
}

.bg-dimgray {
    background-color: #707070 !important;
  }
  
  .bg-palegreen {
    background-color: #b2fab4 !important;
  }
  
  .text-palegreen {
    color: #b2fab4 !important;
  }
  
  .text-white {
    color: white !important;
  }
  
  .hover-darkergreen:hover {
    background-color: #519657 !important;
  }
  
  .form-center {
    margin-top: 40px;
    margin-left: -110px;
    color: white;
  }

@media only screen and (max-width: 950px) {
    .skill-flex {
        width: 45%;
    }

    .flex-container {
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .navbar-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .navbar-link {
        display: none;
    }

    .navbar-btn {
        float: right;
        display: block;
    }

    .flex-left {
        width: 90%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .flex-right {
        width: 90%;
    }

    .name {
        margin-top: 35px;
        margin-left: 0;
        text-align: center;
    }

    .profpict {
        width: 140px;
        margin: auto;
        margin-top: 25px;
    }

    .desc {
        text-align: center;
    }
    
    .form-flex {
        width: 90%;
    }

    .event-container {
        width: 90%;
    }

    .status {
        font-size: 18px;
    }
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
