{% extends 'base.html' %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container outerblock">
        <div class="twbs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-dimgray">
                            <div class="card-header">
                                <h2 class="text-center text-palegreen">Login</h2>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'login:login' %}" method="POST">
                                    <!-- {% if errors %}
                                    <h5 class="text-white"><strong>{{ errors }}</strong></h5>
                                    {% endif %} -->
                                    {% csrf_token %}
                                    <div class="form-group text-white">
                                        {{ form.nomor_ktp }}
                                        <!-- <label for="{{ auth_form.username.id_for_label }}">Alamat Email</label>
                                        <input type="email" class="form-control form-input-registration" name="{{ auth_form.username.html_name }}" id="{{ auth_form.username.id_for_label }}" placeholder="Masukkan email anda"> -->
                                    </div>
                                    <div class="form-group text-white">
                                        {{ form.email }}
                                        <!-- <label for="{{ auth_form.password.id_for_label }}">Password</label>
                                        <input type="password" class="form-control form-input-registration" name="{{ auth_form.password.html_name }}" id="{{ auth_form.password.id_for_label }}" placeholder="Masukkan password anda"> -->
                                    </div>
                                    <button type="submit" class="btn btn-block bg-palegreen hover-darkergreen">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
