{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
	<link rel="stylesheet" href="{% static 'login/css/style.css' %}">
{% endblock %}

{% block content %}
	<div class="center">
		<div class="twbs">
			<div class="container">
				<div class="row">
					<div class="text-palegreen">
						<h1 class="">Formulir Registrasi</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="card bg-dimgray">
						<div class="card-header text-palegreen">
								<h2>Registrasi Akun Baru</h2>
							</div>
						<div class="card-body">
							<form action="{% url 'login:registrasi' %}" method="POST">
								<div class="form-group text-white">
									{% csrf_token %}
									{{ form.as_p }}
								</div>
								<button type="submit" class="save btn btn-block bg-palegreen hover-darkergreen">Daftar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
