a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.btn-google {
  color: #fff !important;
  background-color: #dd4b39 !important;
  border-color: rgba(0,0,0,0.2) !important;
}

.btn-google:hover {
  background-color: #f02c12 !important;
}

.bg-dimgray {
  background-color: #707070 !important;
}

.bg-palegreen {
  background-color: #b2fab4 !important;
}

.text-palegreen {
  color: #b2fab4 !important;
}

.text-white {
  color: white !important;
}

.hover-darkergreen:hover {
  background-color: #519657 !important;
}

.form-input-registration {
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-bottom: 0.25rem solid #b2fab4 !important;
  background-color: #707070 !important;
  color: white !important;
}

.center {
    margin-left: 27%;
    width: 100%;
}

.outerblock {
    width: auto;
}
