{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="landing">
        <div class="landing-text">
            Depok's first bike-sharing platform<br>Start your day with us!
        </div>
        <div class="landing-button">
            <a class="button" href="/">Rent a bike</a>
        </div>
    </div>
</main>
<div class="z"></div>
{% endblock %}
