{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'static/sepeda/css/sepeda.css' %}">
    <title>Cyclink Bikes</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main>
    <div class="container my-3">
        <form method="POST">
            {% csrf_token %}
            {% for field in createform %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-info mb-2 mr-3 float-left">Create</button>
        </form>
    </div>
</main>
<div class="z"></div>
{% endblock %}
