{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'static/sepeda/css/sepeda.css' %}">
    <title>Cyclink Bikes</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<main>
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Merk</th>
                    <th>Jenis</th>
                    <th>Status</th>
                    <th>Stasiun</th>
                    <th>Penyumbang</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for station in station_list %}
                <tr>
                    <td>{{sepeda.merk}}</td>
                    <td>{{sepeda.jenis}}</td>
                    <td>{{sepeda.status}}</td>
                    <td>{{sepeda.stasiun}}</td>
                    <td>{{sepeda.penyumbang}}</td>
                    <td><button class="btn btn-info mb-2 mr-3 float">Update</button>
                        <button class="btn btn-danger mb-2 mr-3 float">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'sepeda:create' %}" class="btn btn-info mb-2 mr-3 float-left">Create</a>
    </div>
</main>
<div class="z"></div>
{% endblock %}
