{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
	<link rel="stylesheet" href="{% static 'transaction/css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<main>
	<div class="card-body">
        <table class="table table-hover table-bordered">
			<thead class="thead-dark">
               <tr>
                 <th>No</th>
                 <th>Id Laporan</th>
                 <th>Tanggal pinjam</th>
                 <th>Anggota</th>
                 <th>Denda</th>
                 <th>Status</th>
               </tr>
		   </thead>
		   </tbody>
			   <tr>
				   <td>1</td>
				   <td>112</td>
				   <td>15 April 2019</td>
				   <td>1111111 - Nunung</td>
                   <td>30000</td>
                   <td>Sudah selesai</td>
			   </tr>
		   </tbody>
        </table>
	</div>
</main>
<div class="z"></div>
{% endblock %}
