{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Officer</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Station</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>111111111 -</td>
                    <td>15 April 2019</td>
                    <td>15 Mei 2019</td>
                    <td>112 - Stasiun</td>
                    <td><button class="btn btn-info mb-2 mr-3 float-left">Update</button><br><br>
                    <button class="btn btn-danger mb-2 mr-3 float-left">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div class="z"></div>
{% endblock %}