{% extends 'base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'station/css/station.css' %}">
    <title>Cyclink Stations</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main>
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Station ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b in station_list %}
                <tr>
                    <td>{{ b.station_id }}</td>
                    <td>{{ b.name }}</td>
                    <td>{{ b.address }}</td>
                    <td>{{ b.lon }}</td>
                    <td>{{ b.lat }}</td>
                    <td><a href="{% url 'station:update_station' station_id=b.station_id %}"><button class="btn btn-info mb-1 mr-1">Update</button></a>
                    <button class="btn btn-danger mb-1 mr-1">Delete</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'station:create' %}" class="btn btn-info mb-2 mr-3 float-left">Create</a>
    </div>
</main>
<div class="z"></div>


{% endblock %}

