{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
	<link rel="stylesheet" href="{% static 'transaction/css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<main>
	<div class="card-body">
        <table class="table table-hover table-bordered">
			<thead class="thead-dark">
               <tr>
                 <th>No</th>
                 <th>Tanggal</th>
                 <th>Jenis Transaksi</th>
                 <th>Nominal</th>
               </tr>
		   </thead>
		   </tbody>
			   <tr>
				   <td>1</td>
				   <td>2019-5-6</td>
				   <td>Top Up</td>
				   <td>300000</td>
			   </tr>
               {% for t in Transaction %}
               <tr>
               {% for a in t.transaction.all %}
                   <td>{{a.no}}</td>
                   <td>{{a.date}}</td>
                   <td>{{a.type}}</td>
                   <td>{{a.nominal}}</td>
               {% endfor %}
               </tr>
               {% endfor %}
		   </tbody>
        </table>
	</div>
</main>
<div class="z"></div>
{% endblock %}
